header h1{
    color: rgb(252, 5, 5);
    text-align: center;
    background-color: yellow;
    font-size: 72px;
    background-size: 80%;
}
header span{
    font-size: 100px;
    color: red;
}
nav{
    position: sticky;
    top: 0;
}
nav ul{
    height: 70px;
    text-align: justify;
    background-color: gray;
    display: flex;
    align-items: center;
}
nav a{
    color: white;
text-decoration: none;
}
nav li{
    margin-right: 20px;
    border: 0px;
    border-bottom: 5px white;
    border-style: solid;
display: inline;
font-size:40px;
text-align: center;
}
main{
    height: 300px;
    padding: 20px;
    font-size: 32px;
    background-color: white;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
main h1{
    color: darkblue;
}
aside{
    margin: 20px;
    padding: 20px;
    width: 30%;
    color: chocolate;
    font-size: 26px;
    display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;
    background-color:bisque;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 50px;
    
    font-size: 32px;
}
#contact{
    flex-direction: column;
    line-height: 0%;
}
img{
    width: 250px;
    height: 250px;
}
section{
    width: 60%;
}

.images{
    display: flex;justify-content: space-evenly;
}