
header h1{
    color: rgb(252, 5, 5);
    text-align: center;
    background-color: yellow;
    font-size: xx-large;
    background-size: 80%;
}
header span{
    font-size: 100px;
    color: red;
}
nav{
    position: sticky;
    top: 0;
}
nav ul{
    text-align: justify;
    background-color: gray;
    display: flex;
    align-items: center;
}
nav a{
    color: white;
text-decoration: none;
}
nav li{
    border: 0px;
    margin: 10px;
    border-bottom: 3px white;
    border-style: solid;
display: inline;
font-size:xx-large;
text-align: center;
}
main{
    padding: 20px;
    font-size: xx-large;
    background-color: white;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
main h1{
    color: darkblue;
}
aside{
    float: right;
    margin: 2%;
    padding: 2%;
    width: 30%;
    color: chocolate;
    font-size: xx-large;
    background-color:bisque;
    border-radius: 20px;
}
.container{
    padding: 2%;
    margin: 2%;
    font-size: xx-large;
}

section{
    width: 60%;
    padding: 20px;
    font-size: xx-large;
}
img{
    border-radius: 20px;
}